.Navbar{
    display: flex;
    height: 70px;
    background-color: #EE4B2B; /* #FF2400; */
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}

.NavbarLeft{
    display: flex;
    flex-direction: row;
}

.NavbarLeftOption{
    margin: 10px;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
}

.NavbarRight{
    display: flex;
    flex-direction: row;    
}

.NavbarRightOption{
    margin: 10px;
    color: white;
    font-family: sans-serif;
    font-weight: 600; 
}
