.RegisterImg{
    width: 100%;
    height: 1400px;
    object-fit: fill;
    z-index: 0;
}



.RegisterBlock{
     z-index: 1;
    position: absolute;
    top: 50%;
    left:25%;
    right:25%;
    text-align: center;
} 


.link-style {
    text-decoration: none;
    color: black;
  }